{
  "region": "ap-northeast-1",
  "role": "s3access",
  "processes": [
    {
      "process": "tomato",
      "regex": ".*/usr/bin/tomate-gtk.*"
    }
  ],
  "dimensions": [
    {"AutoScalingGroupName": "a_group"}    
  ]
}
